html {
  font-family: futura, helvetica, san-serif;
  font-size: 12px;
  line-height: 1.5; }

header {
  margin-bottom: 2rem; }
  @media (min-width: 700px) {
    header {
      margin-bottom: 6rem; } }

h1 {
  width: 50px;
  height: 50px;
  background: url("../images/globe.svg");
  background-repeat: no-repeat;
  text-indent: -9999px;
  margin-top: 3px;
  margin-left: auto;
  margin-right: auto;
  width: 20%; }
  @media (min-width: 400px) {
    h1 {
      width: 12%; } }
  @media (min-width: 700px) {
    h1 {
      width: 8%; } }
  @media (min-width: 1000px) {
    h1 {
      width: 5%; } }

#galleryList {
  list-style: none; }

h2 {
  margin-right: auto;
  margin-left: auto;
  width: 34%;
  font-size: 30px;
  margin-top: 1rem;
  margin-bottom: 1rem; }
  @media (min-width: 400px) {
    h2 {
      width: 35%;
      font-size: 50px; } }
  @media (min-width: 700px) {
    h2 {
      width: 30%;
      font-size: 80px; } }
  @media (min-width: 1000px) {
    h2 {
      width: 18%;
      font-size: 60px; } }

header p {
  margin-left: auto;
  margin-right: auto;
  width: 90%; }
  @media (min-width: 400px) {
    header p {
      width: 100%; } }
  @media (min-width: 700px) {
    header p {
      width: 98%;
      font-size: 24px; } }
  @media (min-width: 1000px) {
    header p {
      width: 60%;
      font-size: 16px; } }

img {
  display: block;
  width: auto;
  height: auto; }
  @media (min-width: 300px) {
    img {
      width: 100%; } }
  @media (min-width: 700px) {
    img {
      height: 100%; } }

#galleryList {
  margin-right: auto;
  margin-left: auto;
  display: flex;
  flex-wrap: wrap;
  padding-left: 0; }
  @media (min-width: 300px) {
    #galleryList {
      flex-direction: column; } }
  @media (min-width: 300px) {
    #galleryList {
      flex-direction: row;
      flex-wrap: wrap; } }

#gallery {
  margin-right: auto;
  margin-left: auto; }
  @media (min-width: 1000px) {
    #gallery {
      margin-bottom: 12rem; } }
  @media (min-width: 1270px) {
    #gallery {
      width: 85%; } }

#gallery li {
  width: 80%;
  display: flex;
  flex-direction: column;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 3rem;
  position: relative; }
  @media (min-width: 300px) {
    #gallery li {
      height: 155px;
      width: 98%; } }
  @media (min-width: 370px) {
    #gallery li {
      height: 200px;
      width: 98%; } }
  @media (min-width: 400px) {
    #gallery li {
      height: 230px; } }
  @media (min-width: 460px) {
    #gallery li {
      height: 250px; } }
  @media (min-width: 560px) {
    #gallery li {
      height: 290px; } }
  @media (min-width: 560px) {
    #gallery li {
      height: 300px; } }
  @media (min-width: 630px) {
    #gallery li {
      height: 360px; } }
  @media (min-width: 700px) {
    #gallery li {
      flex-direction: row;
      flex-wrap: wrap;
      width: 200px;
      height: 200px;
      margin-right: 1rem;
      margin-bottom: 1rem; } }
  @media (min-width: 867px) {
    #gallery li {
      width: 240px;
      height: 240px; } }
  @media (min-width: 1000px) {
    #gallery li {
      width: 300px;
      height: 280px;
      margin-bottom: 2rem;
      margin-right: 1rem; } }
  @media (min-width: 1270px) {
    #gallery li {
      width: 400;
      height: 380; } }

#name {
  color: white;
  background-image: url("../images/user-icon.svg");
  background-repeat: no-repeat;
  padding-left: 25px; }

#likes {
  background-image: url("../images/heart.svg");
  background-repeat: no-repeat;
  padding-left: 25px;
  color: white; }

#overlay {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  height: 50%;
  transition: .6s ease; }
  @media (min-width: 400px) {
    #overlay {
      height: 30%; } }
  @media (min-width: 700px) {
    #overlay {
      height: 30%; } }
  @media (min-width: 1000px) {
    #overlay {
      display: block;
      overflow: hidden;
      height: 0px;
      width: 300px; } }

@media (min-width: 1000px) {
  li:hover #overlay {
    height: 25%; } }

.globe {
  animation: spin 2s linear; }

@keyframes spin {
  100% {
    transform: rotateY(360deg); } }

footer {
  text-align: center;
  width: auto; }

footer a {
  color: grey; }
