html {
  font-family: futura, helvetica, san-serif;
  font-size: 12px;
  line-height: 1.5; }

header {
  margin-bottom: 2rem; }

h1 {
  width: 50px;
  height: 50px;
  background: url("../images/globe.svg");
  background-repeat: no-repeat;
  text-indent: -9999px;
  margin-top: 3px;
  margin-left: auto;
  margin-right: auto;
  width: 20%; }

#galleryList {
  list-style: none; }

h2 {
  margin-right: auto;
  margin-left: auto;
  width: 34%;
  font-size: 30px; }

header p {
  margin-left: auto;
  margin-right: auto;
  width: 90%; }

img {
  display: block;
  width: auto;
  height: auto; }
  @media (min-width: 300px) {
    img {
      width: 100%; } }

#galleryList {
  margin-right: auto;
  margin-left: auto;
  display: flex;
  flex-wrap: wrap;
  padding-left: 0; }
  @media (min-width: 300px) {
    #galleryList {
      flex-direction: column; } }

#gallery li {
  width: 80%;
  flex-direction: column;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 1rem; }

footer {
  text-align: center;
  width: auto; }
