html{
	font-family: $font-stack;
	font-size: 12px;
	line-height: 1.5;
}

header{
	margin-bottom: 2rem;
	 @include mq(large){
	 margin-bottom: 6rem;
	 }
}

h1{
	width: 50px; 
    height: 50px;
    background: url("../images/globe.svg");
    background-repeat: no-repeat;
    text-indent:-9999px;
    margin-top: 3px;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    @include mq(medium){
    	width: 12%;
    }
    @include mq(large){
   	 	width: 8%;
    }
    @media(min-width: 1000px){
    	width: 5%;
    }
}

#galleryList{
	list-style: none;
}

h2{
	margin-right:auto;
	margin-left: auto;
	width: 34%;
	font-size: 30px;
	margin-top: 1rem;
	margin-bottom: 1rem;
	@include mq(medium){
		width: 35%;
		font-size: 50px;
	}
	@include mq(large){
		width: 30%;
		font-size: 80px;
}
	 @media(min-width: 1000px){
    	width: 18%;
    	font-size: 60px;
    	
    }
	
}

header p{
	margin-left: auto;
	margin-right: auto;
	width: 90%;
	@include mq(medium){
		width: 100%;
	}
	@include mq(large){
		width: 98%;
    	font-size: 24px;
    }
     @media(min-width: 1000px){
     	width: 60%;
    	font-size: 16px;
     }
}

img{
	@include mq(small){
		width: 100%;
	}
	@include mq(large){
		height: 100%;
	}
	display: block;
	width: auto;
	height:auto;
}

#galleryList{
	@include mq(small){
		flex-direction: column;
	}
	@include mq(small){
		flex-direction: row;
		flex-wrap: wrap;
	}
	
	margin-right: auto;
	margin-left: auto;
	display: flex;
	flex-wrap: wrap;
	padding-left: 0;
}

#gallery{
	@include mq(small){
		width: 100%;
	}
	@include mq(large){
		width: 95%;
	}
	@media(min-width: 1000px){
		width: 100%;
		margin-bottom: 12rem;
	
	}
	
	margin-right: auto;
	margin-left: auto;
}

#gallery li{
	width: 80%;
	flex-direction: column;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 3rem;
	@include mq(large){
		flex-direction: row;
		flex-wrap: wrap;
		width: 220px;
		height: 220px;
		margin-right: 1rem;
		margin-bottom: 1rem;
		}
	@media(min-width: 1000px){
	width: 300px;
	height: 280px;
	margin-bottom: 2rem;
	margin-right: 2rem;
	}
	}

#name{
background-image: url("../images/user-icon.svg");
background-repeat: no-repeat;
padding-left: 25px;
}

#likes{
background-image: url("../images/heart.svg");
background-repeat: no-repeat;
padding-left: 25px;
}

#overlay{
@include mq(large){
display: none;
}@media(min-width: 1000px){
	position: fixed;
  	width: 280px;
    height: 10%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
}
}

li:hover #overlay{
	display: block;
	animation: slide up .8s ease;
}

.globe{
	animation: spin 10s linear;
	
}

@keyframes spin{
	100%{transform: rotate(359deg);}
}

@keyframes slideUp{
	100%{transform: tanslate(-50%, -50%);}
}
